<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<link href="prettify.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="prettify.js"></script>
	<script src="prettifyHTML.js"></script>
	<script>
	$(document).ready(function(){
		$('body').appendPrettifiedHTML('.contents', '.prettyprint');
		prettyPrint();
	})
	</script>
</head>
<body>
	<div class="contents">
	<div>
			<!-- ngRepeat: c in iterations(12) -->
	<div class="de-grid" ng-repeat="c in iterations(12)">
				<!-- ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 1</div>
				<!-- end ngRepeat: i in iterations(c) -->
			</div>
			<!-- end ngRepeat: c in iterations(12) -->
	<div class="de-grid" ng-repeat="c in iterations(12)">
				<!-- ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 1</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 2</div>
				<!-- end ngRepeat: i in iterations(c) -->
			</div>
			<!-- end ngRepeat: c in iterations(12) -->
	<div class="de-grid" ng-repeat="c in iterations(12)">
				<!-- ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 1</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 2</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 3</div>
				<!-- end ngRepeat: i in iterations(c) -->
			</div>
			<!-- end ngRepeat: c in iterations(12) -->
	<div class="de-grid" ng-repeat="c in iterations(12)">
				<!-- ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 1</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 2</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 3</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 4</div>
				<!-- end ngRepeat: i in iterations(c) -->
			</div>
			<!-- end ngRepeat: c in iterations(12) -->
	<div class="de-grid" ng-repeat="c in iterations(12)">
				<!-- ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 1</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 2</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 3</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 4</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 5</div>
				<!-- end ngRepeat: i in iterations(c) -->
			</div>
			<!-- end ngRepeat: c in iterations(12) -->
	<div class="de-grid" ng-repeat="c in iterations(12)">
				<!-- ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 1</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 2</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 3</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 4</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 5</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 6</div>
				<!-- end ngRepeat: i in iterations(c) -->
			</div>
			<!-- end ngRepeat: c in iterations(12) -->
	<div class="de-grid" ng-repeat="c in iterations(12)">
				<!-- ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 1</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 2</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 3</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 4</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 5</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 6</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 7</div>
				<!-- end ngRepeat: i in iterations(c) -->
			</div>
			<!-- end ngRepeat: c in iterations(12) -->
	<div class="de-grid" ng-repeat="c in iterations(12)">
				<!-- ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 1</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 2</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 3</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 4</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 5</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 6</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 7</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 8</div>
				<!-- end ngRepeat: i in iterations(c) -->
			</div>
			<!-- end ngRepeat: c in iterations(12) -->
	<div class="de-grid" ng-repeat="c in iterations(12)">
				<!-- ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 1</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 2</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 3</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 4</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 5</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 6</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 7</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 8</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 9</div>
				<!-- end ngRepeat: i in iterations(c) -->
			</div>
			<!-- end ngRepeat: c in iterations(12) -->
	<div class="de-grid" ng-repeat="c in iterations(12)">
				<!-- ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 1</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 2</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 3</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 4</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 5</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 6</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 7</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 8</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 9</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 10</div>
				<!-- end ngRepeat: i in iterations(c) -->
			</div>
			<!-- end ngRepeat: c in iterations(12) -->
	<div class="de-grid" ng-repeat="c in iterations(12)">
				<!-- ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 1</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 2</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 3</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 4</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 5</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 6</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 7</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 8</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 9</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 10</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 11</div>
				<!-- end ngRepeat: i in iterations(c) -->
			</div>
			<!-- end ngRepeat: c in iterations(12) -->
	<div class="de-grid" ng-repeat="c in iterations(12)">
				<!-- ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 1</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 2</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 3</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 4</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 5</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 6</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 7</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 8</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 9</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 10</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 11</div>
				<!-- end ngRepeat: i in iterations(c) -->
	<div class="de-col" ng-repeat="i in iterations(c)">Item 12</div>
				<!-- end ngRepeat: i in iterations(c) -->
			</div>
			<!-- end ngRepeat: c in iterations(12) -->
		</div>
	</div>
	<pre class="prettyprint" />
</body>
</html>
